services:
  db:
    image: mysql:8.0
    container_name: champions_db_container
    environment:
      - MYSQL_DATABASE=${DB_NAME}          # champions_league
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD} # admin
    ports:
      - "${DB_PORT_EXTERNAL}:3306"        # 3307:3306

  app:
    build: .
    container_name: champions_api_app
    ports:
      - "${API_PORT}:${API_PORT}"         # 2105:2105
    environment:
      - SERVER_PORT=${API_PORT}            # 2105
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${DB_NAME}?allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=${DB_USER} # root
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD} # admin
    depends_on:
      - db